<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<bean id="empl1" class="base.Employee" scope="prototype"/>

<bean id="empl2" class="base.Employee" scope="prototype">
<constructor-arg value="10" type="int"/>
<constructor-arg value="Vari" type="String"/>
<constructor-arg ref="addr1"></constructor-arg>
</bean>

<bean id="addr1" class="base.Address" scope="prototype">
<constructor-arg value="Milano" type="String"/>
<constructor-arg value="Italia" type="String"/>
<constructor-arg value="Lombardia" type="String"/>
</bean>

<bean id="addr2" class="base.Address" scope="prototype">
<constructor-arg value="Roma" type="String"/>
<constructor-arg value="Italia" type="String"/>
<constructor-arg value="Lazio" type="String"/>
</bean>
</beans>
